/*SECTION1*/
.section-1 {
    height: 100vh;
    background: linear-gradient(to bottom, #181c35b4, #181c3565), url(../imag/imag-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: 1rem;
    border-radius: 50px;
    display: flex;  

    .container_introduccion{
        max-width: 1300px;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            max-width: 600px;
            color: white;
        }

        p {
            text-align: center;
            max-width: 400px;
            color: white;
        }

        .boton-cotizar-seguro {
            text-align: center;
            background-color: $colorPrincipal;
            color: white;
            border-radius: 10px;
            padding: 1rem;
            margin-block: 3rem;
            transition: 1s;

            &:hover {
                background-color: $colorSecundario;
                transform: scale(1.1);
            }

        }

        .scroll {
            position: absolute;
            left: 50%;
            bottom: 2rem;
            animation-name: scroll;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.075, 0.82, 2, 2);
            animation-delay: 0;
            animation-direction: normal;
            transition: .3s;

            @media (max-width: 650px) {
                visibility: hidden;
            }

        }

        @keyframes scroll {
            0% {
                transform: translateY(0) translateX(-50%);
            }
            75% {
                transform: translateY(-1rem) translateX(-50%);
            }
            100% {
                transform: translateY(0) translateX(-50%);
            }
            
        }
    }
    
}


/*SECTION2*/
.section-2 {
    max-width: 1300px;
    margin: 6rem auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: left;
    }

    .seguros__title {
        width: 300px;

        @media (max-width: 1000px) {
            width: 100%;
        }

        .seguros__subtitle {
            font-family: 'Rubik', sans-serif;
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            letter-spacing: 4px;
            margin-bottom: 20px;
        }
    }

    .seguros__cajitas {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
        gap: 1.5rem;

        @media (max-width: 900px) {
            flex-direction: column;
            max-width: 100%;
        }

        .seguros__cajas-1, .seguros__cajas-2, .seguros__cajas-3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $colorPrincipal;
            padding: 2rem;
            border-radius: 30px;
            text-align: left;
            width: 100%;
            align-items: start;
            align-content: end;
            transition: 1s;

            &:hover {
                transform: translate(0, -20px);
                box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);

                @media (max-width: 750px) {
                    transform: scale(1.05);
                }
            }
            

            h3 {
                color: white;
                font-size: 27px;
                padding: 1rem 0;
            }

            .seguros__cajas__iconos {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-block: 4rem 1rem;
                border-bottom: 1px solid white;
                
                p {
                    color: white;
                    font-size: 14px;
                }

    
            }
        }

        .seguros__cajas-2 {
            background-image: url(../imag/Auto-imag.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .seguros__cajas-3 {
            background-image: url(../imag/Hogar-imag.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
     
    } 
}


/*SECTION3*/
.section-3 {
    max-width: 1300px;
    margin: 5rem auto;
    padding: 2rem;
    text-align: center;

    .seguros__subtitle {
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }

    .seguros__texto {
        max-width: 700px;
        text-align: center;
        margin: 1rem auto;
    }
    

}

/*SECTION4*/
.section-4 {
    background-image:url(../imag/hero-empresas-xl.jpg);
    background-color: $colorFondo;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 12rem;

    @media (max-width: 1000px) {
        padding: 5rem;
    }

    @media (max-width: 750px) {
        padding: 3rem;
        flex-direction: column;
        gap: 3rem;
    }

    h2{
        color: white;
        font-weight: 600;
    }
    
    p {
        color: white;
    }
    
    .section-4-a {
        width: 50%;

        @media (max-width: 750px) {
            width: 100%;
        }
    }
}



/*SECTION5*/
.section-5 {
    background-color: $colorFondo;

    .section-5__features {
        max-width: 1300px;
        margin: 0 auto;
        padding: 6rem 2rem;
        text-align: center;

        .seguros__subtitle {
            font-family: 'Rubik', sans-serif;
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            letter-spacing: 4px;
            margin-bottom: 20px;
        }
    }
    
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-block: 4rem;
        gap: 5rem;

        @media (max-width: 850px) {
            flex-direction: column;
        }

        .features__1, .features__2, .features__3 {
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 1rem;

            @media (max-width: 850px) {
                width: auto;
            }

            .img-features {
                max-width: 60px;
                margin-bottom: 1rem;
            }
        } 
    }
}



/*SECTION 6*/
.section-6 {
    max-width: 1300px;
    margin: 0rem auto;
    text-align: center;

    .contenido-grid{
        display: grid;
        grid-template-columns: 2fr 1.2fr;
        grid-template-rows: auto;
        align-items: center;

        @media (max-width: 862px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .contenido-grid__one {
            padding-block: 3rem;

            .contenido-grid__text__one {
                color: #48c9ea;
                font-weight: 500;
                padding-block: 0.5rem;
                align-items: center;
            }

            .contenido-grid__text__one__bottom {
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.3rem;
                align-items: center;

                a {
                    font-weight: 500;
                    transition: 1s;

                    &:hover {
                        font-weight: 500;
                        color: $colorPrincipal;
                        transform: translate(10px, 0);
                    }
                }
            }
             
        }

    }

    .contenido-grid__two {
        width: 100%;
        height: 250px;
        background-image: url(../imag/Gestiones-imag.jpg);
        border-bottom-right-radius: 80px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 862px) {
            visibility: hidden;
            width: auto;
            height: auto;
        } 
    }

    .contenido-grid__three {
        width: 100%;
        height:350px;
        background-image: url(../imag/Gestiones-2-imag.jpg);
        border-bottom-right-radius: 80px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contenido-grid__four {
        text-align: left;
        padding-inline: 4rem;

        @media (max-width: 862px) {
            text-align: center;
            padding: 4rem 2rem;
        }

        .contenido-grid__text__four {
            padding-block: 1rem;
        }

        .contenido-grid__text__four__botom {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 0.5rem;
            align-items: center;
            padding-top: 1rem;

            @media (max-width: 862px) {
                justify-content: center;
            }

            a {
                font-weight: 500;
                transition: 1s;

                &:hover {
                    font-weight: 500;
                    color: $colorPrincipal;
                    transform: translate(12px, 0);
                }
            }  
        }
    }
}


/*SECTION 7*/

.container__frase {
    max-width: 1300px;
    margin: 5rem auto;
    padding: 5rem 10rem;
    border-top: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    text-align: center;

    @media (max-width: 1000px) {
        padding: 5rem 2rem;
    }
    

    .container__frase__one {
        font-size: 32px;
        line-height: 37px;
        font-weight: 500;
    }

    .container__frase__two {
        font-weight: 500;
        color: #48c9ea;
        margin-top: 1.5rem;
    }
}


/*SECTION 8*/
.section-8 {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;

    .grid_companias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin: 4rem 2rem;
        justify-items: center;
        

        @media (max-width: 920px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 526px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    img {
        transition: 0.3s;

        &:hover {
            transform: translate(0, -15px);
        }
    }
}